<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Perfetto - System profiling, app tracing and trace analysis</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Roboto+Mono" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <link rel="stylesheet" href="/assets/style.css">
  <link rel="stylesheet" href="/assets/tomorrow-night.css">
  <link rel="shortcut icon" href="/assets/favicon.png" />
  <script type="text/javascript" src="/assets/script.js"></script>

  <!--  TODO: twitter / facebook cards -->
  <!--  TODO: resource integrity -->
</head>
<body>
<header class="site-header">
  <div class="brand">
    <a href="/">
      <img src="/assets/brand.png">
      <% if (fileName.startsWith('/docs/')) { %>
      <span class="brand-docs">Docs</span>
      <% } %>
    </a>
  </div>
  <a href="#toggle" class="menu"><i class="material-icons-round">menu</i></a>

  <a href="/docs/">Docs</a>
  <a href="/docs/contributing#community">Community</a>
  <a href="https://github.com/google/perfetto">GitHub</a>
</header>
